/* .close{
    display: 
} */
/* 
.sidebarItems a{
    text-decoration-line: none;
    color: slategray;
}
.sidebarItems a:hover{
    text-decoration-line: underline;
} */

.sideMenu{
    font-size: 20px;
}
.menuItem{
    font-size: 20px;
}